<form class="form-search" method="GET" action="/scrape">
<input type="url" name="url" class="input-medium search-query", placeholder="Add a new article link">
<button type="submit" class="btn">Scrape</button>
</form>

<%= form_tag articles_path, method: :get do%>
<%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for an article"
%>
<%= submit_tag "Search"%>
<% end %>

<div id="articles">
    <% @articles.each do |article|%>
        <div class="article">
            <%= link_to article do %>
                <h2><%= article.title %></h2>
            <% end %>
            <p><%= article.short_link%></p>
            <p>Reading time: 
            <%if article.reading_time && article.reading_time.to_i > 0 %>
                <%= pluralize(article.reading_time, 'minute')%>
            <% else %>
                Under 1 minute
            <% end %></p>
            <ul>
                <% article.body.split(",").each do |string|%>
                    <li><%= string %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
</div>